{
  "openapi": "3.0.3",
  "info": {
    "title": "CourtListener REST API",
    "description": "REST API providing programmatic access to US court opinions, PACER docket data, judge records, financial disclosures, oral argument audio, citation lookup and network analysis, search alerts, and case visualizations. Operated by the Free Law Project.",
    "version": "4.4",
    "contact": {
      "name": "Free Law Project",
      "url": "https://free.law/contact/",
      "email": "info@free.law"
    },
    "license": {
      "name": "Creative Commons Attribution-ShareAlike 4.0 International",
      "url": "https://creativecommons.org/licenses/by-sa/4.0/"
    },
    "termsOfService": "https://free.law/terms/"
  },
  "externalDocs": {
    "description": "CourtListener API Documentation",
    "url": "https://wiki.free.law/c/courtlistener/help/api/rest/v4/overview"
  },
  "servers": [
    {
      "url": "https://www.courtlistener.com/api/rest/v4",
      "description": "CourtListener REST API v4 (current)"
    },
    {
      "url": "https://www.courtlistener.com/api/rest/v1",
      "description": "CourtListener REST API v1 (legacy)"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token-based authentication. Format: 'Token <your_token>'"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid"
      }
    },
    "schemas": {
      "opinion": {
        "type": "object",
        "description": "CourtListener opinion object",
        "properties": {
          "absolute_url": {
            "type": "string"
          },
          "blocked": {
            "type": "boolean"
          },
          "citation": {
            "type": "array"
          },
          "citation_count": {
            "type": "integer"
          },
          "court": {
            "type": "string"
          },
          "date_blocked": {
            "type": "string",
            "format": "date"
          },
          "date_filed": {
            "type": "string",
            "format": "date"
          },
          "date_modified": {
            "type": "string",
            "format": "date"
          },
          "download_URL": {
            "type": "string"
          },
          "extracted_by_ocr": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "judges": {
            "type": "string"
          },
          "local_path": {
            "type": "string"
          },
          "nature_of_suit": {
            "type": "string"
          },
          "pagerank": {
            "type": "integer",
            "format": "int64"
          },
          "precedential_status": {
            "type": "string"
          },
          "resource_uri": {
            "type": "string"
          },
          "sha1": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "time_retrieved": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "citation": {
        "type": "object",
        "description": "CourtListener citation object",
        "properties": {
          "absolute_url": {
            "type": "string"
          },
          "blocked": {
            "type": "boolean"
          },
          "citation": {
            "type": "array"
          },
          "case_name": {
            "type": "string"
          },
          "docket_number": {
            "type": "string"
          },
          "federal_cite_one": {
            "type": "string"
          },
          "federal_cite_three": {
            "type": "string"
          },
          "federal_cite_two": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "lexis_cite": {
            "type": "string"
          },
          "neutral_cite": {
            "type": "string"
          },
          "opinion_uris": {
            "type": "array"
          },
          "resource_uri": {
            "type": "string"
          },
          "scotus_early_cite": {
            "type": "string"
          },
          "specialty_cite_one": {
            "type": "string"
          },
          "state_cite_one": {
            "type": "string"
          },
          "state_cite_regional": {
            "type": "string"
          },
          "state_cite_three": {
            "type": "string"
          },
          "state_cite_two": {
            "type": "string"
          },
          "westlaw_cite": {
            "type": "string"
          }
        }
      },
      "jurisdiction": {
        "type": "object",
        "description": "CourtListener jurisdiction object",
        "properties": {
          "URL": {
            "type": "string"
          },
          "citation_string": {
            "type": "string"
          },
          "date_modified": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "full_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "in_use": {
            "type": "boolean"
          },
          "jurisdiction": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "position": {
            "type": "number",
            "format": "float"
          },
          "resource_uri": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          }
        }
      },
      "coverage": {
        "type": "object",
        "description": "CourtListener coverage object",
        "properties": {
          "annual_counts": {
            "type": "array"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "description": "Standard paginated list response",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of results"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to next page"
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to previous page"
          },
          "results": {
            "type": "array",
            "items": {}
          }
        }
      },
      "Docket": {
        "type": "object",
        "description": "PACER docket record",
        "properties": {
          "id": {
            "type": "integer"
          },
          "resource_uri": {
            "type": "string",
            "format": "uri"
          },
          "docket_number": {
            "type": "string"
          },
          "case_name": {
            "type": "string"
          },
          "case_name_short": {
            "type": "string"
          },
          "court": {
            "type": "string",
            "format": "uri"
          },
          "date_filed": {
            "type": "string",
            "format": "date"
          },
          "date_terminated": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "date_last_filing": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "nature_of_suit": {
            "type": "string"
          },
          "pacer_case_id": {
            "type": "string"
          },
          "absolute_url": {
            "type": "string"
          }
        }
      },
      "Opinion": {
        "type": "object",
        "description": "Court opinion document",
        "properties": {
          "id": {
            "type": "integer"
          },
          "resource_uri": {
            "type": "string",
            "format": "uri"
          },
          "absolute_url": {
            "type": "string"
          },
          "cluster": {
            "type": "string",
            "format": "uri"
          },
          "author": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "010combined",
              "015unamimous",
              "020lead",
              "025plurality",
              "030concurrence",
              "035concurrenceinpart",
              "040dissent",
              "050addendum",
              "060remittitur",
              "070rehearing",
              "080onthemerits",
              "090onmotiontostrike"
            ]
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "plain_text": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "html_lawbox": {
            "type": "string"
          },
          "html_columbia": {
            "type": "string"
          },
          "html_with_citations": {
            "type": "string"
          },
          "download_url": {
            "type": "string",
            "format": "uri"
          },
          "local_path": {
            "type": "string"
          },
          "opinions_cited": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Court": {
        "type": "object",
        "description": "US Court record",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource_uri": {
            "type": "string",
            "format": "uri"
          },
          "pacer_court_id": {
            "type": "integer",
            "nullable": true
          },
          "fjc_court_id": {
            "type": "string"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "in_use": {
            "type": "boolean"
          },
          "has_opinion_scraper": {
            "type": "boolean"
          },
          "has_oral_argument_scraper": {
            "type": "boolean"
          },
          "position": {
            "type": "number"
          },
          "citation_string": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "jurisdiction": {
            "type": "string"
          }
        }
      },
      "Person": {
        "type": "object",
        "description": "Judge or attorney person record",
        "properties": {
          "id": {
            "type": "integer"
          },
          "resource_uri": {
            "type": "string",
            "format": "uri"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "date_completed": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "fjc_id": {
            "type": "integer",
            "nullable": true
          },
          "slug": {
            "type": "string"
          },
          "name_first": {
            "type": "string"
          },
          "name_middle": {
            "type": "string"
          },
          "name_last": {
            "type": "string"
          },
          "name_suffix": {
            "type": "string"
          },
          "date_dob": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "date_dod": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "type": "string"
          },
          "race": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "religion": {
            "type": "string"
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Audio": {
        "type": "object",
        "description": "Oral argument audio recording",
        "properties": {
          "id": {
            "type": "integer"
          },
          "resource_uri": {
            "type": "string",
            "format": "uri"
          },
          "absolute_url": {
            "type": "string"
          },
          "case_name": {
            "type": "string"
          },
          "case_name_short": {
            "type": "string"
          },
          "docket": {
            "type": "string",
            "format": "uri"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "judges": {
            "type": "string"
          },
          "local_path_mp3": {
            "type": "string"
          },
          "download_url": {
            "type": "string",
            "format": "uri"
          },
          "sha1": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "blocked": {
            "type": "boolean"
          },
          "date_blocked": {
            "type": "string",
            "format": "date",
            "nullable": true
          }
        }
      }
    },
    "parameters": {
      "format": {
        "name": "format",
        "in": "query",
        "description": "Response format (json, xml, html)",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "xml",
            "html"
          ]
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Cursor for pagination",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "description": "Field to order results by",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/opinion/": {
      "get": {
        "summary": "Pulls court opinions",
        "description": "Returns a list of opinions",
        "operationId": "getOpinion",
        "tags": [
          "Opinion"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "response format for calls (XML,JSON,JSONP)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "common delimited fields for return fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "which field to order results by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "number of records to limit response listing by (1000 max)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absolute_url",
            "in": "query",
            "description": "pull the detail for an opinion",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blocked",
            "in": "query",
            "description": "Whether the opinion should be blocked from search engines",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "citation_count",
            "in": "query",
            "description": "The number of times the opinion has been cited by other opinions",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "The ID of the court where the opinion was written",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_filed",
            "in": "query",
            "description": "The date the opinion was filed by the court",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_modified",
            "in": "query",
            "description": "The date and time the opinion was last modified",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extracted_by_ocr",
            "in": "query",
            "description": "Whether the text of the opinion was extracted from an image using OCR",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "precedential_status",
            "in": "query",
            "description": "Whether the opinion has precedential value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_retrieved",
            "in": "query",
            "description": "The date and time the opinion was added to our system",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/opinion"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/citation/": {
      "get": {
        "summary": "Pulls citations",
        "description": "Returns a list of citations",
        "operationId": "getCitations",
        "tags": [
          "Citation"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "response format for calls (XML,JSON,JSONP)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "common delimited fields for return fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "which field to order results by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "number of records to limit response listing by (1000 max)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absolute_url",
            "in": "query",
            "description": "pull the detail for an opinion",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blocked",
            "in": "query",
            "description": "Whether the opinion should be blocked from search engines",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "citation_count",
            "in": "query",
            "description": "The number of times the opinion has been cited by other opinions",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "The ID of the court where the opinion was written",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_filed",
            "in": "query",
            "description": "The date the opinion was filed by the court",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_modified",
            "in": "query",
            "description": "The date and time the opinion was last modified",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extracted_by_ocr",
            "in": "query",
            "description": "Whether the text of the opinion was extracted from an image using OCR",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "precedential_status",
            "in": "query",
            "description": "Whether the opinion has precedential value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_retrieved",
            "in": "query",
            "description": "The date and time the opinion was added to our system",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/cites/": {
      "get": {
        "summary": "Pulls opinions that opinion cites",
        "description": "Provides a paginated display of the opinions that an opinion cites",
        "operationId": "getOpinion",
        "tags": [
          "Cites"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id for an opinion",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/opinion"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/cited-by/": {
      "get": {
        "summary": "Pulls opinions that cite the opinion",
        "description": "Provides a paginated display of the opinions that cite the opinion",
        "operationId": "getOpinion",
        "tags": [
          "Cited By"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id for an opinion",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/opinion"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/jurisdiction/": {
      "get": {
        "summary": "Pulls jurisdictions",
        "description": "Provides basic information about the 350+ jurisdictions in the American court system",
        "operationId": "getJurisdiction",
        "tags": [
          "Jurisdiction"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "response format for calls (XML,JSON,JSONP)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "common delimited fields for return fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "which field to order results by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "number of records to limit response listing by (1000 max)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absolute_url",
            "in": "query",
            "description": "pull the detail for an opinion",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jurisdiction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/search/": {
      "get": {
        "summary": "Runs advanced search",
        "description": "Provides an advanced search via solr",
        "operationId": "search",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "response format for calls (XML,JSON,JSONP)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "common delimited fields for return fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "which field to order results by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "number of records to limit response listing by (1000 max)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absolute_url",
            "in": "query",
            "description": "pull the detail for an opinion",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/opinion"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/coverage/{id}": {
      "get": {
        "summary": "Shows the number of opinions in each jurisdiction by year",
        "description": "Useful in identifying gaps in the corpus",
        "operationId": "coverage",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Jurisdiction ID to be queried",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/opinion"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/search/": {
      "get": {
        "summary": "List Search",
        "description": "Full-text search across opinions, dockets, and oral arguments",
        "operationId": "listSearch",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/search/{id}/": {
      "get": {
        "summary": "Retrieve Search",
        "description": "Retrieve a single search by ID",
        "operationId": "retrieveSearch",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the search",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single search record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/dockets/": {
      "get": {
        "summary": "List Dockets",
        "description": "PACER docket records",
        "operationId": "listDockets",
        "tags": [
          "Dockets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of dockets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/dockets/{id}/": {
      "get": {
        "summary": "Retrieve Docket",
        "description": "Retrieve a single docket by ID",
        "operationId": "retrieveDocket",
        "tags": [
          "Dockets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the docket",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single docket record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Docket"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/docket-entries/": {
      "get": {
        "summary": "List Docket Entries",
        "description": "Individual docket entries",
        "operationId": "listDocketEntries",
        "tags": [
          "Docket Entries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of docket entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/docket-entries/{id}/": {
      "get": {
        "summary": "Retrieve Docket Entrie",
        "description": "Retrieve a single docket entrie by ID",
        "operationId": "retrieveDocketEntrie",
        "tags": [
          "Docket Entries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the docket entrie",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single docket entrie record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/recap-documents/": {
      "get": {
        "summary": "List RECAP Documents",
        "description": "PACER documents retrieved via RECAP",
        "operationId": "listRECAPDocuments",
        "tags": [
          "RECAP Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of recap documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/recap-documents/{id}/": {
      "get": {
        "summary": "Retrieve RECAP Document",
        "description": "Retrieve a single recap document by ID",
        "operationId": "retrieveRECAPDocument",
        "tags": [
          "RECAP Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the recap document",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single recap document record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/opinions/": {
      "get": {
        "summary": "List Opinions",
        "description": "Court opinion documents",
        "operationId": "listOpinions",
        "tags": [
          "Opinions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of opinions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/opinions/{id}/": {
      "get": {
        "summary": "Retrieve Opinion",
        "description": "Retrieve a single opinion by ID",
        "operationId": "retrieveOpinion",
        "tags": [
          "Opinions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the opinion",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single opinion record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opinion"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/clusters/": {
      "get": {
        "summary": "List Opinion Clusters",
        "description": "Groups of related opinions from a single case",
        "operationId": "listOpinionClusters",
        "tags": [
          "Opinion Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of opinion clusters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/clusters/{id}/": {
      "get": {
        "summary": "Retrieve Opinion Cluster",
        "description": "Retrieve a single opinion cluster by ID",
        "operationId": "retrieveOpinionCluster",
        "tags": [
          "Opinion Clusters"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the opinion cluster",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single opinion cluster record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/courts/": {
      "get": {
        "summary": "List Courts",
        "description": "US court records",
        "operationId": "listCourts",
        "tags": [
          "Courts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of courts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/courts/{id}/": {
      "get": {
        "summary": "Retrieve Court",
        "description": "Retrieve a single court by ID",
        "operationId": "retrieveCourt",
        "tags": [
          "Courts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the court",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single court record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Court"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/audio/": {
      "get": {
        "summary": "List Audio",
        "description": "Oral argument audio recordings",
        "operationId": "listAudio",
        "tags": [
          "Audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of audio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/audio/{id}/": {
      "get": {
        "summary": "Retrieve Audio",
        "description": "Retrieve a single audio by ID",
        "operationId": "retrieveAudio",
        "tags": [
          "Audio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the audio",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single audio record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audio"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/people/": {
      "get": {
        "summary": "List People",
        "description": "Judge and attorney records",
        "operationId": "listPeople",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of people",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/people/{id}/": {
      "get": {
        "summary": "Retrieve People",
        "description": "Retrieve a single people by ID",
        "operationId": "retrievePeople",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the people",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single people record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/positions/": {
      "get": {
        "summary": "List Positions",
        "description": "Judicial positions and appointments",
        "operationId": "listPositions",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/positions/{id}/": {
      "get": {
        "summary": "Retrieve Position",
        "description": "Retrieve a single position by ID",
        "operationId": "retrievePosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the position",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single position record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/financial-disclosures/": {
      "get": {
        "summary": "List Financial Disclosures",
        "description": "Judge financial disclosure records",
        "operationId": "listFinancialDisclosures",
        "tags": [
          "Financial Disclosures"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of financial disclosures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/financial-disclosures/{id}/": {
      "get": {
        "summary": "Retrieve Financial Disclosure",
        "description": "Retrieve a single financial disclosure by ID",
        "operationId": "retrieveFinancialDisclosure",
        "tags": [
          "Financial Disclosures"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the financial disclosure",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single financial disclosure record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/alerts/": {
      "get": {
        "summary": "List Alerts",
        "description": "Search alerts for case monitoring",
        "operationId": "listAlerts",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/alerts/{id}/": {
      "get": {
        "summary": "Retrieve Alert",
        "description": "Retrieve a single alert by ID",
        "operationId": "retrieveAlert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the alert",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single alert record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/docket-alerts/": {
      "get": {
        "summary": "List Docket Alerts",
        "description": "Alerts for specific docket updates",
        "operationId": "listDocketAlerts",
        "tags": [
          "Docket Alerts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of docket alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/docket-alerts/{id}/": {
      "get": {
        "summary": "Retrieve Docket Alert",
        "description": "Retrieve a single docket alert by ID",
        "operationId": "retrieveDocketAlert",
        "tags": [
          "Docket Alerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the docket alert",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single docket alert record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/visualizations/": {
      "get": {
        "summary": "List Visualizations",
        "description": "Citation network visualizations",
        "operationId": "listVisualizations",
        "tags": [
          "Visualizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of visualizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/visualizations/{id}/": {
      "get": {
        "summary": "Retrieve Visualization",
        "description": "Retrieve a single visualization by ID",
        "operationId": "retrieveVisualization",
        "tags": [
          "Visualizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the visualization",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single visualization record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/fjc-integrated-database/": {
      "get": {
        "summary": "List FJC Database",
        "description": "Federal Judicial Center integrated database records",
        "operationId": "listFJCDatabase",
        "tags": [
          "FJC Database"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of fjc database",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/rest/v4/fjc-integrated-database/{id}/": {
      "get": {
        "summary": "Retrieve FJC Database",
        "description": "Retrieve a single fjc database by ID",
        "operationId": "retrieveFJCDatabase",
        "tags": [
          "FJC Database"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the fjc database",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Single fjc database record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  }
}